.signIn {
	height: 100vh;
	background-image: url('../../assets/img/SignInBg.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-position: top;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}

.signInContentWrapper {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	position: relative;
}

.signInImageMobil {
	display: none;
}

.signInContent {
	width: 320px;
	gap: 48px;
	display: flex;
	flex-direction: column;
}

.signInTitles {
	display: flex;
	gap: 20px;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	align-items: center;
}

.signInTitle {
	color: #fff;
	text-align: center;
	text-shadow: 0px 1px 2px #000;
	font-family: Inter;
	font-size: 46.5px;
	font-style: normal;
	font-weight: 400;
	line-height: 50.4px; /* 108.387% */
	text-transform: uppercase;
	width: 200px;
}

.signInText {
	color: #fff;
	text-align: center;
	text-shadow: 0px 1px 2px #000;
	font-family: 'Open Sans';
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px; /* 150% */
}

.signInVerify {
	display: flex;
	gap: 38px;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
}

.signInInputs {
	display: flex;
	min-width: 100px;
	gap: 16px;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	width: 100%;
}

.signInEmail {
	background: rgba(255, 255, 255, 0.1);
	width: -webkit-fill-available;
	display: flex;
	align-items: start;
	padding: 13px 12px;

	color: rgba(255, 255, 255, 0.5);
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border: none;
	border-radius: 12px;
	transition: all 0.5s ease-in-out;
	border: 1px solid transparent;
	outline: none;
}

.signInEmail:hover {
	border: 1px solid #017bff;
	box-shadow: 0 2px 28px 2px #017bff4d;
}

.signInPassword {
	width: 100%;
	position: relative;
	justify-content: start;
	display: flex;
}

.signInPasInput {
	color: rgba(255, 255, 255, 0.5);
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 100%;
	height: 100%;
	padding: 14px 12px;
	background: rgba(255, 255, 255, 0.1);
	border: none;
	border-radius: 12px;
	border: 1px solid transparent;
	transition: all 0.5s ease-in-out;
	outline: none;
	height: max-content;
}

.signInPasInput:hover {
	border: 1px solid #017bff;
	box-shadow: 0 2px 28px 2px #017bff4d;
}

.signInEye {
	position: absolute;
	top: 14px;
	right: 12px;
	cursor: pointer;
}

.Eye path {
	transition: all 0.3s;
}

.signInBtns {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	gap: 16px;
}

.signInWhite {
	display: flex;
	height: 50px;
	padding: 0px 40px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	align-self: stretch;
	border-radius: 25px;
	background: #efeff2;
	box-shadow: 0px 0px 14px 0px #efeff2;

	color: #000;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px; /* 100% */
	border: none;
	transition: all 0.5s ease-in-out;
}

.signInWhite:hover {
	box-shadow: 0px 0px 20px 6px rgba(239, 239, 242, 0.75);
}

.signInButtonsText {
	display: flex;
	width: 100%;
	gap: 16px;

	color: #fff;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px; /* 150% */
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

.signInline {
	height: 1px;
	background: #c0c0c0;
	width: 121.59px;
}

.signInGoggleBtn {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: none;

	color: #fff;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px; /* 100% */
	box-shadow: 0px 0px 14px 0px rgba(239, 239, 242, 0.1);
	border-radius: 25px;
	background: #ffffff1a;
	backdrop-filter: blur(6.25px);
	height: 50px;
	width: 320px;

	transition: all 0.5s ease-in-out;
	position: relative;
}

.signInGoggleBtn:hover {
	background: #fff3;
}

.signInAnother {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.signInForgot {
	color: #fff;
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px; /* 150% */
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: auto;
	text-underline-offset: auto;
	text-underline-position: from-font;
}

.signInCircle {
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background: #c0c0c0;
}

.signInCreate {
	color: #fff;
	text-align: right;
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px; /* 150% */
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: auto;
	text-underline-offset: auto;
	text-underline-position: from-font;
}

.Errors {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 4px;
}

.signInError {
	text-align: left;
	font-family: 'Open Sans';
	font-weight: 500;
	font-size: 12px;
	line-height: 1.5;
	color: #ff3153;
}

.inputError {
	border: 1px solid rgba(255, 49, 83, 0.5);
	box-shadow: 0 2px 28px 2px #ff31534d;
}

@media (max-width: 1024px) {
	.signInTitle {
		font-size: 42px;
		line-height: 108.387%; /*  */
	}

	.signInContent {
		gap: 32px;
	}
}
@media (max-width: 768px) {
	.signIn {
		background-image: url('../../assets/img/mobilSignInBg.png');
		background-size: 100% 100%;
	}

	.signInTitle {
		font-size: 40px;
		line-height: 108.387%; /*  */
	}

	.signInImageMobil {
		width: 400px;
		max-width: 400px;
		display: flex;
		position: absolute;
		bottom: 0;
		right: -145px;
	}

	.signIn {
		justify-content: space-between;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	.signInContent {
		padding: 32px;
	}
}

@media (max-width: 640px) {
	.signInTitle {
		text-align: start;
	}

	.signInText {
		font-size: 16px;
	}

	.signInContent {
		padding: 32px;
		align-items: start;
	}

	.signInTitles {
		align-items: start;
	}
}
