.forgot {
	height: 100vh;
	background-image: url('../../assets/img/SignInBg.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-position: top;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}

.forgotContentWrapper {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	position: relative;
}

.forgotContent {
	max-width: 375px;
	gap: 48px;
	display: flex;
	flex-direction: column;
}

.forgotTitles {
	display: flex;
	gap: 20px;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	align-items: center;
}

.forgotTitle {
	color: #fff;
	text-align: center;
	text-shadow: 0px 1px 2px #000;
	font-family: Inter;
	font-size: 46.5px;
	font-style: normal;
	font-weight: 400;
	line-height: 50.4px; /* 108.387% */
	text-transform: uppercase;
}

.forgotText {
	color: #fff;
	text-align: center;
	text-shadow: 0px 1px 2px #000;
	font-family: 'Open Sans';
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px; /* 150% */
}

.forgotVerify {
	display: flex;
	gap: 38px;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	padding: 0px 27.5px;
}

.Errors {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 4px;
}

.forgotEmail {
	background: rgba(255, 255, 255, 0.1);
	width: -webkit-fill-available;
	display: flex;
	align-items: start;
	padding: 13px 12px;

	color: rgba(255, 255, 255, 0.5);
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border: none;
	border-radius: 12px;
	transition: all 0.5s ease-in-out;
	border: 1px solid transparent;
	outline: none;
}

.forgotEmail:hover {
	border: 1px solid #017bff;
	box-shadow: 0 2px 28px 2px #017bff4d;
}

.forgotBottom {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
}

.forgotBtns {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.forgotBack {
	display: flex;
	height: 50px;
	padding: 0px 40px;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 0px 14px 0px rgba(239, 239, 242, 0.1);
	transition: all ease-in-out 0.5s;

	color: #fff;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px; /* 100% */
}

.forgotBack:hover {
	background: #fff3;
}

.forgotWhite {
	display: flex;
	height: 50px;
	padding: 0px 40px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	align-self: stretch;
	border-radius: 25px;
	background: #efeff2;
	box-shadow: 0px 0px 14px 0px #efeff2;

	color: #000;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px; /* 100% */
	border: none;
	transition: all 0.5s ease-in-out;
}

.forgotWhite:hover {
	box-shadow: 0px 0px 20px 6px rgba(239, 239, 242, 0.75);
}

.forgotSubtext {
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
	font-family: 'Open Sans';
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: 15px; /* 150% */
}

.forgotSubtextLink {
	color: rgba(255, 255, 255, 0.5);
	font-weight: 500;
	font-family: Inter;
}

.forgotSubtextLink:hover {
	text-decoration: underline;
}

.forgotAnother {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.forgotQuestion {
	color: #fff;
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
}

.forgotCreate {
	color: #fff;
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px; /* 150% */
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: auto;
	text-underline-offset: auto;
	text-underline-position: from-font;
}

@media (max-width: 1024px) {
	.forgotTitle {
		font-size: 42px;
		line-height: 108.387%; /*  */
	}

	.forgot {
		justify-content: space-between;
		display: flex;
		flex-direction: column;
	}

	.forgotContent {
		padding: 0 32px 32px 32px;
	}
}

@media (max-width: 768px) {
	.forgot {
		background-image: url('../../assets/img/mobSignUpBg.png');
		background-size: 100% 100%;
	}

	.forgotContent {
		justify-content: space-between;
		height: 100%;
	}

	.forgotTitle {
		font-size: 40px;
		line-height: 42px; /* 105.827% */
	}

	.forgotContentWrapper {
		height: 100%;
	}
}

@media (max-width: 640px) {
	.forgotTitle {
		text-align: start;
	}

	.forgotVerify {
		padding: 0;
	}

	.forgotTitles {
		justify-content: start;
		align-items: start;
	}
}
